/* You can add global styles to this file, and also import other style files */
body{
  line-height: 28px;
  letter-spacing: 1px;
  background-color: #f0f3f5 !important;
  -webkit-font-smoothing: antialiased;
}
.detail-global{
  margin-top: -130px;
}
.card-boxed{
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.10);
}
.card-boxed h3{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.card-boxed > h3 span{
  font-size: 30px;
  font-weight: 800;
  margin: 4px 0 0;
}
.card-content{
  margin-top: 70px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  background-color: #fff;
}
.table thead th{
  font-size: 11px;
  color: #4f4f4f;
  vertical-align: bottom;
  text-transform: uppercase;
  border-bottom: none !important;
}
.table td, .table th{
  font-size: 13px;
  color: #4f4f4f;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: rgba(172, 172, 172, 0.05) !important;
}
input{
  width: 100%;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid #dee2e6;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  margin-bottom: 40px !important;
}